# dist
dist/

# FrontEnd directories and files
FrontEnd/node_modules
FrontEnd/dist

# BackEnd directories and files
BackEnd/serve.exe
BackEnd/*.json
BackEnd/WikiData/
BackEnd/configDir/
BackEnd/*.exe

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
*.local
BackEnd/config/config.json
BackEnd/config/renderConfig.json
BackEnd/testPage.html
