# dist
dist
dist/index.html
# FrontEnd directories and files
frontEnd/node_modules
frontEnd/dist

# BackEnd directories and files
backEnd/serve.exe
backEnd/config.json
backEnd/WikiData/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
*.local

