# dist
./dist

# FrontEnd directories and files
frontEnd/node_modules

# BackEnd directories and files
./backEnd/serve.exe
./backEnd/config.json
./backEnd/WikiData/
./backEnd/renderConfig.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
./logs
./*.log
./*.local
